
<div class="container">

    <div class="jumbotron text-center">
        <h1> WELCOME TO THE BACKSTAGE</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>

